* {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: auto;
	text-decoration: none;
}

/*--------------header---------------*/
.header {
	width: 100%;
	height: 200px;
	background-color: #A5B099;
}

.header_top {
	margin: 0px 0px 1px 0px;
	width: 100%;
	height: 20%;
	background-color: #353535;
	align-items: center;
	display: flex;
}

	.header_top p {
		color: white;
		padding-left: 80px;
	}

	.header_top .login {
		margin-left: 60%;
		text-decoration: none;
		display: flex;
	}

		.header_top .login p {
			color: white;
		}

		.header_top .login a {
			color: white
		}

.header_mid {
	margin: 0px 0px 1px 0px;
	width: 100%;
	height: 50%;
	background-color: #353535;
	align-items: center;
	display: flex;
}

	.header_mid img {
		padding-left: 80px;
	}

	.header_mid input[type="text"] {
		margin-left: 200px;
		width: 300px;
		box-sizing: border-box;
		border: 1px solid black;
		border-radius: 4px;
		outline: none;
		padding: 12px 14px;
	}

	.header_mid input[type="submit"] {
		width: 50px;
		background: #C89979;
		border: 1px solid black;
		border-radius: 4px;
		padding: 12px 0px;
		color: white;
	}

.header_bot {
	width: 100%;
	height: 30%;
	background-color: #353535;
	align-items: center;
	display: flex;
}

	.header_bot .icon {
		display: none;
	}

	.header_bot ul {
		margin: auto;
		padding: 0px;
	}

		.header_bot ul li {
			list-style: none;
			float: left;
		}

			.header_bot ul li a {
				text-decoration: none;
				display: block;
				height: 40px;
				line-height: 40px;
				color: white;
				padding: 0px 15px 0px 15px;
			}

	.header_bot a:hover {
		background-color: #C89979;
		color: white;
	}
/*------------------banner--------------*/

.up {
	margin: 25px 80px 30px 80px;
	font-size: 25px;
	color: black;
	display: flex;
	justify-content: space-between;
}

.chon {
	color: #424242;
	font-size: 19px;
}

	.chon select {
		font-size: 15px;
		color: #A4A4A4;
	}

.abc a:hover {
	color: #424242;
}

/*pháº§n container*/
/*border: none, hidden, dotted, dashed, solid, double, groove, ridge, inset, outset*/
.container {
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 50px;
	display: flex;
}

.sidebar_one {
	flex: 1;
	margin-right: 15px;
	box-sizing: border-box;
}

.sidebar_two {
	box-sizing: border-box;
	flex: 3;
}

.show {
	border: #E6E6E6 solid 1px;
	border-radius: 5px;
	background-color: #F2F2F2;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 30px;
}

	.show li {
		list-style: none;
		margin-top: 32px;
	}

.row_2 {
	margin-top: 30px;
}

.show1 {
	border: #E6E6E6 solid 1px;
	border-radius: 5px;
	background-color: #F2F2F2;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 30px;
}

	.show1 ul {
		margin-left: 0px;
	}

	.show1 li {
		list-style: none;
		margin-top: 25px;
		color: #6E6E6E;
	}





/*sidebar_two*/

/*.sanpham{
	
}*/
.sanpham_show {
	display: inline-block;
}

.sanpham_show {
	margin: 20px 12px;
	border: #D8D8D8 solid 2px;
	border-radius: 10px;
	padding-bottom: 10px;
}

.sanpham_gia {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.sanpham_show.sanpham_gia.sanpham_ten {
	font-size: 30px;
}

.sanpham_gia1 {
	font-weight: 700;
	margin-top: 8px;
	color: coral;
}

.sanpham_click {
	background-color: coral;
	margin-top: 8px;
	margin-left: 50px;
	max-width: 100px;
	color: #fff;
	font-weight: 400;
	border-radius: 5px;
	padding: 3px 10px;
	text-align: center;
}

.sanpham_show img {
	width: 220px;
	height: 250px;
}





/*footer*/
.footter {
	float: left;
	margin-top: 20px;
	width: 100%;
	height: 500px;
	background-color: #A5B099;
}

	.footter .footter_top {
		height: 70%;
		margin: 0px 0px 1px 0px;
		width: 100%;
		background-color: #353535;
		display: flex;
	}

		.footter .footter_top .Thongtinlienhe {
			width: 350px;
			float: left;
		}

			.footter .footter_top .Thongtinlienhe h1 {
				margin: 60px 0px 30px 60px;
				font-size: 22px;
				color: white;
			}

			.footter .footter_top .Thongtinlienhe p {
				margin: 10px 0px 0px 70px;
				font-size: 17px;
				color: white;
				line-height: 1.5;
			}

		.footter .footter_top .Lienket {
			width: 350px;
			float: left;
		}

			.footter .footter_top .Lienket h1 {
				margin: 60px 0px 30px 40px;
				font-size: 22px;
				color: white;
			}

			.footter .footter_top .Lienket ul li {
				text-decoration: none;
				list-style: none;
				margin: 10px 0px 0px 0px;
			}

				.footter .footter_top .Lienket ul li a {
					font-size: 17px;
					color: white;
					line-height: 1.5;
				}

	.footter .footter_bot {
		height: 30%;
		margin: 0px 0px 1px 0px;
		width: 100%;
		background-color: #353535;
		display: flex;
	}

.copyright {
	align-items: center;
	display: flex;
	color: white;
	margin: 70px;
}
