* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: auto;
    text-decoration: none;
}

/*--------------header---------------*/
.header {
    width: 100%;
    height: 200px;
    background-color: #A5B099;
}

.header_top {
    margin: 0px 0px 1px 0px;
    width: 100%;
    height: 20%;
    background-color: #353535;
    align-items: center;
    display: flex;
}

    .header_top p {
        color: white;
        padding-left: 80px;
    }

    .header_top .login {
        margin-left: 60%;
        text-decoration: none;
        display: flex;
    }

        .header_top .login p {
            color: white;
        }

        .header_top .login a {
            color: white
        }

.header_mid {
    margin: 0px 0px 1px 0px;
    width: 100%;
    height: 50%;
    background-color: #353535;
    align-items: center;
    display: flex;
}

    .header_mid img {
        padding-left: 80px;
    }

    .header_mid input[type="text"] {
        margin-left: 200px;
        width: 300px;
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 4px;
        outline: none;
        padding: 12px 14px;
    }

    .header_mid input[type="submit"] {
        width: 50px;
        background: #C89979;
        border: 1px solid black;
        border-radius: 4px;
        padding: 12px 0px;
        color: white;
    }

.header_bot {
    width: 100%;
    height: 30%;
    background-color: #353535;
    align-items: center;
    display: flex;
}

    .header_bot .icon {
        display: none;
    }

    .header_bot ul {
        margin: auto;
        padding: 0px;
    }

        .header_bot ul li {
            list-style: none;
            float: left;
        }

            .header_bot ul li a {
                text-decoration: none;
                display: block;
                height: 40px;
                line-height: 40px;
                color: white;
                padding: 0px 15px 0px 15px;
            }

    .header_bot a:hover {
        background-color: #C89979;
        color: white;
    }
/*------------------banner--------------*/



.main {
    width:100%;
    font-size: 16px;
    margin: 30px 0px 0px 0px;
    padding: 0;
    height:auto;
}
.main .bang {
    text-align: center;
    width:100%;
}
/**.bang,th,td {
    border:2px solid red;
    border-collapse: collapse;
}**/
.td1{
    width:150px;
    height:150px;
}
.main .cart_product{
    width:70%;
    float:left;
    height:auto;
    text-align:center;
}
.main .cart_price {
    width: 30%;
    float: right;
    background: red;
    height: 100%;
}
.anh {
    height: 70%;
    width: 70%;
}
.xoa {
    width: 80px;
    height: 40px;
    background: red;
    color: aliceblue;
    border: 0px solid white;
    border-radius: 4px;
}

/*---------Thanh toán--------*/
.main .cart_price {
    width: 30%;
    height: 350px;
    border-radius: 8px;
    background-color:burlywood;
}
.main .cart--right{
    text-align:center;
}
.main .cart--right .cart__title--right{
    margin:50px;
}
.main .cart--right .cart__products-total-price {
    margin:50px;
}
#order_total_price{
    color:red;
    margin:10px;
}
.main .cart--right cart__order-total {
    margin: 20px;
}
.purchase-button{
    width:150px;
    height:25px;
    color:white;
    background-color:darkcyan;
    border-radius:4px;
    border:0px;
}
/*.main .cart--right .cart__product-price-unit {
    margin:15px;
}*/
/*-------------footer------------------*/
.footter {
    float: left;
    margin-top: 20px;
    width: 100%;
    height: 500px;
    background-color: #A5B099;
}

    .footter .footter_top {
        height: 70%;
        margin: 0px 0px 1px 0px;
        width: 100%;
        background-color: #353535;
        display: flex;
    }

        .footter .footter_top .Thongtinlienhe {
            width: 350px;
            float: left;
        }

            .footter .footter_top .Thongtinlienhe h1 {
                margin: 60px 0px 30px 60px;
                font-size: 22px;
                color: white;
            }

            .footter .footter_top .Thongtinlienhe p {
                margin: 10px 0px 0px 70px;
                font-size: 17px;
                color: white;
                line-height: 1.5;
            }

        .footter .footter_top .Lienket {
            width: 350px;
            float: left;
        }

            .footter .footter_top .Lienket h1 {
                margin: 60px 0px 30px 40px;
                font-size: 22px;
                color: white;
            }

.footter .footter_top .Lienket ul li {
    text-decoration: none;
    list-style: none;
    margin: 10px 0px 0px 0px;
}

.footter .footter_top .Lienket ul li a {
    font-size: 17px;
    color: white;
    line-height: 1.5;
 }

.footter .footter_bot {
    height: 30%;
    margin: 0px 0px 1px 0px;
    width: 100%;
    background-color: #353535;
    display: flex;
 }

.copyright {
    align-items: center;
    display: flex;
    color: white;
    margin: 70px;
}
