*{
	font-family: "Roboto", sans-serif;
	margin:0;
	padding: auto;
	text-decoration: none;
	
}

/*--------------header---------------*/
.header {
	width: 100%;
	height: 200px;
	background-color: #A5B099;
}

.header_top {
	margin: 0px 0px 1px 0px;
	width: 100%;
	height: 20%;
	background-color: #353535;
	align-items: center;
	display: flex;
}

	.header_top p {
		color: white;
		padding-left: 80px;
	}

	.header_top .login {
		margin-left: 60%;
		text-decoration: none;
		display: flex;
	}

		.header_top .login p {
			color: white;
		}

		.header_top .login a {
			color: white
		}


.header_mid {
	margin: 0px 0px 1px 0px;
	width: 100%;
	height: 50%;
	background-color: #353535;
	align-items: center;
	display: flex;
}

	.header_mid img {
		padding-left: 80px;
	}

.header_bot {
	width: 100%;
	height: 30%;
	background-color: #353535;
	align-items: center;
	display: flex;
}

	.header_bot .icon {
		display: none;
	}

	.header_bot ul {
		margin: auto;
		padding: 0px;
	}

		.header_bot ul li {
			list-style: none;
			float: left;
		}

			.header_bot ul li a {
				text-decoration: none;
				display: block;
				height: 40px;
				line-height: 40px;
				color: white;
				padding: 0px 15px 0px 15px;
			}

	.header_bot a:hover {
		background-color: #C89979;
		color: white;
	}



.main{
	font-size: 20px;
	margin: 0;
	padding: 0;
	display:flex;
}
.anh {
	margin: 10px 0px 0px 0px;
	float: left;
	height:600px;
	width: 500px;
	margin-right:5%;
}
.anh img {
	width: 500px;
	max-height:600px;
}
.content{
	float:left;
	margin-top: 4%;
	position: relative;
	float: right;
	width:60%;
	
}
.content a{
	color:rgba(152,151,151,1.00);
	
}
.header-content{
	padding-bottom: 15px;
	padding-top: 15px;
}
#Tinhphi{
	position: absolute;
	
}
#Thanhtoan{
	 
	position: relative;
	box-sizing: border-box;
	margin-left: 30%;
	margin-top: 1.5%;
}
#Dangky{
	width: 200px;
	height: 52px;
	font-size: 20px;
	background-color: #C89979;
	color: #FFFFFF;
	border: none;
	text-align: center;
	
}
.themvaogio {
	width: 221px;
	height: 52px;
	background-color: #C89979;
	border: none;
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
}
hr{
	border: none;
}
.container {
			padding-top: 40px;
            width: 60%;  
            margin:auto;
        }
        /* định dạng thẻ div chưa các button tab */
        .tab {
            overflow: hidden; 
            border: 1px solid #ccc; 
            background-color: #f1f1f1; 
        }

        /* định dạng các button tab */
        .tab button {
            background-color: inherit; 
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 15px;
        }

        /* đổi màu khi một button tab được hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* đổi màu nền cho tab đang được hiển thị nội dung */
        .tab button.active {
            background-color: #ccc;
        }

        /* định dạng nội dung hiển thị */
        .tabcontent {
			
            display: none;
            padding: 20px 20px;
            border: 1px solid #ccc;
            border-top: none;
}
#input{
	width: 457px;
	height: 45px;
}
#canbang{
	padding-left: 80px;
}
.canbang1{
	padding-left: 80px;
	padding-bottom: 30px
}


/*----------------RATE STAR---------------*/

.stars {
  
  width: 270px;
  display: inline-block;

}
 
input.star { display: none; }
 
label.star {
	
  float: right;
  padding: 15px;
  font-size:20px;
  
  color: #444;
  transition: all .2s;
}
 
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
 
input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
 
input.star-1:checked ~ label.star:before { color: #F62; }
 
label.star:hover { transform: rotate(-15deg) scale(1.3); }
 
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
/*-------------footer------------------*/
.footter
{
	float:left;
	margin-top:20px;
	width:100%;
	height:500px;
	background-color:#A5B099;
}
.footter .footter_top
{
	height:70%;
	margin: 0px 0px 1px 0px;
	width:100%;
	background-color:#353535;
	display: flex;
}
.footter .footter_top .Thongtinlienhe
{
	width:350px;
	float:left;
}
.footter .footter_top .Thongtinlienhe h1
{
	margin: 60px 0px 30px 60px;
	font-size:22px;
	color:white;
}
.footter .footter_top .Thongtinlienhe p
{
	margin: 10px 0px 0px 70px;
	font-size:17px;
	color:white;
	line-height: 1.5;
}
.footter .footter_top .Lienket
{
	width:350px;
	float: left;
}
.footter .footter_top .Lienket h1
{
	margin: 60px 0px 30px 40px;
	font-size:22px;
	color:white;
}
.footter .footter_top .Lienket ul li
{
	text-decoration: none;
	list-style: none;
	margin: 10px 0px 0px 0px;
}
.footter .footter_top .Lienket ul li a
{
	font-size:17px;
	color:white;
	line-height: 1.5;
}
.footter .footter_bot
{
	height:30%;
	margin: 0px 0px 1px 0px;
	width:100%;
	background-color:#353535;
	display: flex;
}
.copyright
{
	align-items: center;
	display: flex;
	color:white;
	margin:70px;
}
